.IconListItem {
  display: inline-block;
  margin: 5px 15px;
  transition: transform 0.6s ease-out;
  animation: slideUp 1.4s ease-out;
}

.IconListItem a {
  text-decoration: none;
  color: #fff;
  line-height: 45px;
  width: 45px;
  height: 45px;
  position: relative;
  display: inline-block;
  background-color: transparent;
  border-radius: 50%;
  transition: transition, background-color 0.25s linear 0s;
}

.IconListItem a:hover {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
}

.IconListItem a i {
  line-height: 45px;
  font-size: 20px;
  display: block;
}

.TextDanger {
  color: #e8676b;
}

.TextPrimary li,
.TextPrimary a {
  color: #3d4451;
}

.IconLarge a i {
  font-size: 30px;
}

@keyframes slideUp {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
