.IconListItem {
  display: inline-block;
  margin: 5px 15px;
}

.IconListItem a {
  text-decoration: none;
  color: #fff;
  line-height: 45px;
  width: 45px;
  height: 45px;
  position: relative;
  display: inline-block;
  background-color: transparent;
  border-radius: 50%;
  transition: transition, background-color 0.25s linear 0s;
}

.IconListItem a:hover {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
}

.IconListItem a i {
  line-height: 45px;
  font-size: 20px;
  display: block;
}
