.custom-modal {
  background: white;
  box-shadow: 0 2px 8px hsla(0, 0%, 0%, 0.26);
  bottom: 0;
  left: 10%;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  top: 4vh;
  z-index: 100;
  width: 80%;
}

.modal__footer {
  padding: 1rem 0.5rem;
}

@media (min-width: 767px) {
  .custom-modal {
    left: calc(47% - 20rem);
    width: 45rem;
  }
}

.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}
