.Card {
  background-color: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  margin: 0 auto;
  max-width: 950px;
  /* min-height: 538px; */
}

.CardSection {
  padding-top: 0;
  position: relative;
  z-index: 5;
}

.CardBox {
  padding: 57px 50px 15px 50px;
}

@media (min-width: 768px) {
  .CardSection {
    padding-top: 70px;
  }
}
