.ProfileList li {
  margin-bottom: 13px;
}

.ProfileListTitle {
  display: block;
  width: 100%;
  float: left;
  color: #333333;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.ProfileListContent {
  display: block;
  margin-left: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #9da0a7;
}

.ProfileList .Tag {
  background-color: #e8676b;
  border-radius: 3px;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  margin-bottom: 0.75rem;
  padding: 5px 8px;
  display: inline-block;
}

@media (min-width: 521px) {
  .ProfileListTitle {
    width: 120px;
  }

  .ProfileListContent {
    margin-left: 125px;
  }

  .ProfileList .Tag {
    margin-bottom: 0;
  }
}
