.NavLinks {
  align-items: start;
  height: 100%;
  flex-direction: column;
  justify-content: normal;
  margin: 0;
  padding: 0;
  width: 100%;
}

.NavLinks li {
  margin: 1rem;
  position: relative;
  width: 100%;
}

.NavLinks li a {
  color: #3d4451;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.NavLinks li a:hover {
  text-decoration: none;
}

.NavLinks li a::after {
  background-color: #e8676b;
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 3px;
  border-radius: 10px;
  transition: width 0.2s ease-out;
  width: 0;
}

.NavLinks li:hover a::after {
  width: 20% !important;
}

.NavLinks .NavLinkActive::after {
  width: 20% !important;
}

@media (min-width: 991px) {
  .NavLinks li {
    margin: 0 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .NavLinks li {
    margin: 0 1rem;
  }

  .NavLinks li a {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .NavLinks {
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .NavLinks li {
    width: auto;
  }

  .NavLinks li a {
    color: #fff;
  }

  .NavLinks li:hover a::after {
    width: 100% !important;
  }

  .NavLinks .NavLinkActive::after {
    width: 100% !important;
  }
}
